<%- include('header') -%>
<div class="admin-content-container">
    <h2 class="admin-heading">Edit Product</h2>
            <form id="updateProduct" class="add-post-form row" method="post" enctype="multipart/form-data">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="">Product Title</label>
                        <input type="hidden" name="product_id" value="<?php echo $row['product_id']; ?>"/>
                        <input type="text" class="form-control product_title" name="product_title"
                               value="<%- product[0].product_name %>" placeholder="Product Title"/>
                    </div>
                    <div class="form-group category">
                        <label for="">Product Category</label>
                            <select class="form-control product_category" name="product_cat">
                                <% categories.forEach(function(category){ %>
                                    <% var selected = ""; %>
                                    <% if(product[0].product_category.valueOf() == category._id){  %>
                                        <% selected = "selected"; %>
                                    <% } %>
                                <option <%- selected %> value="<%- category._id %>"><%- category.category_name %></option>
                                    <% }) %>
                            </select>
                        <?php } ?>
                    </div>
                    <div class="form-group sub_category">
                        <label for="">Product Sub-Category</label>
                        <select class="form-control product_sub_category" name="product_sub_cat">
                            <?php foreach($result3 as $row3) {
                                if($row['product_sub_cat'] == $row3['sub_cat_id']){ ?>
                                    <option selected value="<?php echo $row3['sub_cat_id']; ?>"><?php echo $row3['sub_cat_title']; ?></option>
                        <?php   }else{ ?>
                                    <option value="<?php echo $row3['sub_cat_id']; ?>"><?php echo $row3['sub_cat_title']; ?></option>
                            <?php    }
                            } ?>
                        </select>
                        <?php } ?>
                    </div>
                    <div class="form-group brand">
                        <label for="">Product Brand</label>
                        <select class="form-control product_brands" name="product_brand">
                            <option value="">Select Brand</option>
                            <% brands.forEach(function(brand){   %>
                                    <option value="<?php echo $row4['brand_id']; ?>"><%- brand.brand_name %></option>
                                
                             <%   }) %>
                        </select>
                       
                    </div>
                    <div class="form-group">
                        <label for="">Product Description</label>
                        <textarea class="form-control product_description" name="product_desc" rows="8"
                                  cols="80"><%- product[0].product_description %></textarea>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Featured Image</label>
                        <input type="file" class="product_image" name="new_image">
                        <input type="hidden" class="old_image" name="old_image" value="<?php echo $row['featured_image']; ?>">
                        <img id="image" src="../product-images/<?php echo $row['featured_image']; ?>" alt="" width="100px"/>
                    </div>
                    <div class="form-group">
                        <label for="">Product Price</label>
                        <input type="text" class="form-control product_price" name="product_price" value="<%- product[0].product_price %>">
                    </div>
                    <div class="form-group">
                        <label for="">Available Quantity</label>
                        <input type="number" class="form-control product_qty" name="product_qty" value="<%- product[0].product_qty %>">
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <select class="form-control" name="product_status">
                            <option <% if(product[0].status == 1){ %><%- 'selected' %> <% }%> value="1">Published</option>
                            <option <% if(product[0].status == 0){ %><%- 'selected' %> <% }%> value="0">Draft</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn add-new" name="submit" value="Update">
                    </div>
                </div>
            </form>
        <?php
        }
    }
    ?>
</div>
<%- include('footer') -%>